.footer__column-links {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    align-content: flex-start;
    color: #f2f2f2;
    margin-bottom: 16px;
  }